*.suo
*.user
*.ReSharper
_ReSharper*
*.docstates
*.sln.DotSettings
*.dotCover
*.orig
bin/
obj/
Debug/
Release/
ClientBin/
/artifacts
/buildArtifacts
/testResults
testResults/
/_revision.txt
/NDependOut
*.dbmdl
*.ncrunch*
*crunchsolution*
TestResult.xml
specfailures.html
integrationspecfailures.html
acceptancespecfailures.html
specfailures.xml
integrationspecfailures.xml
acceptancespecfailures.xml
*.log
formscreds.json
uitests.config
FitNesseRoot/ErrorLogs
FitNesseRoot/RecentChanges
FitNesseRoot/files/testProgress/