@model dynamic

@{
    Layout = "~/Views/Shared/_Foundation.cshtml";
    ViewBag.Title = "Bacon Ipsum";
}

<div class="row">
    <div class="large-12 columns">
        <h2>Welcome to Bacon</h2>
        <h3><a href="http://foundation.zurb.com/">Foundation</a> is the parent from which Twitter Bootstrap budded.</h3>
        <hr />
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>
            <a href="http://baconipsum.com/">http://baconipsum.com/</a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="large-4 small-12 columns"><p>Bacon ipsum dolor sit amet andouille salami kevin, bacon pancetta frankfurter brisket shankle swine shank tenderloin chuck. Rump tenderloin biltong, jowl pig tri-tip swine ham hock ribeye. Filet mignon andouille tenderloin, boudin short loin meatball tri-tip pig spare ribs tongue. Sausage prosciutto flank ribeye beef ribs swine, fatback biltong bacon short ribs pancetta pork belly meatball. Pork belly pancetta pork tri-tip sausage ground round tail prosciutto ball tip pork chop shankle biltong short ribs. Andouille ribeye cow venison sausage tenderloin chuck tail corned beef short ribs salami boudin.</p></div>
    <div class="large-4 hide-for-small columns"><p><img src="http://baconmockup.com/wp-content/uploads/2013/03/baconmockup-200-300.jpg" /></p></div>
    <div class="large-4 small-12 columns"><p>Bacon ipsum dolor sit amet pork chop leberkas bresaola sausage shank hamburger. Flank chuck chicken capicola jerky venison strip steak, tail beef kevin short ribs shankle meatloaf prosciutto. Shank doner biltong chicken meatball ham pancetta meatloaf pork chop fatback drumstick bacon venison andouille sausage. Biltong short loin jowl, turkey hamburger bresaola beef ribs ham meatball shankle shank pork loin pancetta t-bone. Rump shoulder filet mignon, short ribs sirloin beef ribs kevin jerky capicola salami turducken.</p></div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="label">Bacon is the best</div>
        <p>Bacon ipsum dolor sit amet shank bacon pork chop brisket salami pastrami. Ground round shank swine, pork belly ball tip chicken jerky capicola corned beef venison shankle pancetta sausage pork loin. Andouille beef ribs pork pork loin drumstick meatball swine chicken kevin shoulder ball tip filet mignon pork belly. Beef ribs rump strip steak, beef flank leberkas ground round shankle hamburger tenderloin tongue bacon chuck ham corned beef.</p>
        <p>Shank tail pastrami ham hock jerky doner. Rump shoulder shank filet mignon, venison turducken cow biltong pork chop fatback turkey kevin ground round pig tri-tip. Ball tip boudin ham, venison tongue leberkas ham hock pork belly shank capicola short ribs hamburger tenderloin rump. Turkey andouille kevin capicola meatloaf short ribs pork loin turducken t-bone sausage bresaola beef. Brisket pancetta turducken, beef venison beef ribs chuck swine. Biltong capicola hamburger pork kielbasa shank. Swine turducken meatball kielbasa tongue pork cow chicken drumstick pork chop meatloaf shoulder doner.</p>
        <p>Frankfurter biltong beef ribs strip steak. Short ribs pig meatloaf frankfurter prosciutto capicola shankle hamburger jerky pastrami pork belly doner tri-tip pork bresaola. Shank prosciutto pork chop, turducken ham tail hamburger filet mignon pork loin. T-bone tongue tri-tip meatball shank jerky boudin drumstick corned beef capicola. Turkey pig venison rump, doner kevin tail prosciutto biltong t-bone ribeye shoulder short ribs.</p>
    </div>
</div>

<div class="row">
    <div class="large-6 small-12 columns"><p><img src="http://baconmockup.com/wp-content/uploads/2013/03/baconmockup-470-300.jpg" /></p></div>
    <div class="large-3 small-6 columns"><p><img src="http://baconmockup.com/wp-content/uploads/2013/03/baconmockup-200-160.jpg" /></p></div>
    <div class="large-3 small-6 columns"><p><img src="http://baconmockup.com/300/200" /></p></div>
</div>

