@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Bacon Ipsum - Foundation</title>
    </head>
    <body>
        <div>
              
        </div>
    </body>
</html>